.banner {
  background-image: url(/images/2560x1440_stars_glare_space_darkness_black.jpeg);
  background-size: cover;
  background-position: center;
  height: 750px;
  display: flex;
  align-items: center;
  color: white;
}